PORT=3000
WHATSAPP_TOKEN=
PHONE_NUMBER_ID=
VERIFY_TOKEN=
CHATBOT_CATALOG_URL=http://localhost/agendamiento-de-citas-famysalud/public/chatbot/catalogo-servicios
SESSION_TTL_MINUTES=15
CATALOG_CACHE_TTL_MINUTES=10
DB_HOST=
DB_PORT=3306
DB_USER=
DB_PASSWORD=
DB_NAME=
EVENT_HASH_SALT=
